.about {
  color: @title-color;
  font-size: 18px;
  background: @white;

  @media all and (min-width: @screen-md) {
    padding: 45px 0 60px;
  }

  &__section {
    padding-top: 10px;
  }

  &__row {
    .row;
  }

  &__title,
  &__subtitle {
    .col (xs, 12);
    .col (lg, 4);
    margin-top: 12px;
  }

  &__title {
    margin-top: 5px;
  }

  &__text {
    .col (xs, 12);
    .col (lg, 8);

    p {
      margin-bottom: 30px;
    }
  }

  &__map {
    margin-top: 35px;
    margin-bottom: 70px;
    .hidden-down(sm);
    .col (md, 12);
  }

  &__map-img {
    width: 100%;
    height: auto;
  }

  &__offices {
    .col (xs, 12);
    .col (lg, 8);
    .col-offset(lg, 4);
    margin-bottom: 25px;
  }

  &__offices-title {
    width: 80%;
    .hidden-up(md);
  }

  &__pin-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    font-size: 14px;
    font-weight: 300;

    @media all and (min-width: @screen-md) {
      height: 110px;
    }

    @media all and (min-width: @screen-lg) {
      height: 125px;
    }
  }

  &__pin-item {
    margin-bottom: 15px;

    .icon {
      vertical-align: middle;
      margin-right: 5px;
    }
  }


  &__pin-country {
    color: @text-color;
  }
}